In [1]:
import pandas as pd
import pymysql

In [2]:
# table path
table = r"C:\Users\user\Documents\GitHub\COVID-19\consolidated_data\raw_data.csv"
df=pd.read_csv(table)

In [215]:
df.columns = ["Active","Confirmed","`Country/Region`","Date","Deaths","Latitude","Longitude","`Province/State`","Recovered","`Mortality rate in %`"]

In [3]:
df.head(2)

,Active,Confirmed,Country/Region,Date,Deaths,Latitude,Longitude,Province/State,Recovered,Mortality rate in %
0,1.0,1.0,China,2020-01-22,0.0,0.0,0.0,Anhui,0.0,0.0
1,14.0,14.0,China,2020-01-22,0.0,0.0,0.0,Beijing,0.0,0.0

In [261]:
cols = ("'Active'", "'Confirmed'", "'`Country/Region`'", "'Date'", "'Deaths'", "'Latitude'", "'Longitude'", "'`Province/State`'", "'Recovered'", "'`Mortality rate in %`'")
vals = str(tuple([1.0,1.0,"China","2020-01-22",0.0,0.0,0.0,"Anhui",0.0,0.0]))

In [262]:
table = '`'+'raw_data'+'`'

sql = "INSERT INTO `raw_data` {} VALUES {}".format(cols,vals)

In [ ]:
sql = "INSERT INTO `raw_data` {} VALUES {}".format(cols,vals)

In [4]:
sql = "INSERT INTO `raw_data` ("'Active'", "'Confirmed'", "'`Country/Region`'", "'Date'", "'Deaths'", "'Latitude'", "'Longitude'", "'`Province/State`'", "'Recovered'", "'`Mortality rate in %`'") VALUES (1.0,1.0,"'China'","'2020-01-22'",0.0,0.0,0.0,"'Anhui'",0.0,0.0)"

In [6]:
sql

'INSERT INTO `raw_data` (Active, Confirmed, `Country/Region`, Date, Deaths, Latitude, Longitude, `Province/State`, Recovered, `Mortality rate in %`) VALUES (1.0,1.0,China,2020-01-22,0.0,0.0,0.0,Anhui,0.0,0.0)'

In [5]:
# The user 'user' can insert, read and update
# data but is not allowed to drop entries or
# create routines, procedures and views

connection = pymysql.connect(
host = 'localhost',
user = 'user',
password = 'user',
db = 'covid19'
)

cursor = connection.cursor()

cursor.execute(sql)
connection.commit()
connection.close()

OperationalError: (1054, "Unknown column 'China' in 'field list'")